@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.arBtn {
  transform: translate(0, 25px);
  animation: intextbtn 0.3s linear forwards;
}

.goBtn {
  transform: translate(0, 0);
  animation: outtextbtn 0.3s linear forwards;
}

@keyframes intextbtn {
  from {
    transform: translate(0, 25px);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes outtextbtn {
  from {
    transform: translate(0, 0);
    opacity: 1;
  }
  to {
    transform: translate(0, 25px);
    opacity: 0;
  }
}
.micCont:hover .mic {
  animation: cim 1s ease forwards;
}

@keyframes cim {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(-25deg);
  }
  50% {
    transform: rotate(25deg);
  }
  75% {
    transform: rotate(-25deg);
  }
  100% {
    transform: rotate(0);
  }
}
.mesCont {
  scrollbar-width: none;
}
